<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>RoleFilter</filter-name>
        <filter-class>filter.RoleFilter</filter-class>
    </filter>
    <!--    <filter-mapping>
        <filter-name>RoleFilter</filter-name>
        <url-pattern>/Login</url-pattern>
    </filter-mapping>-->
    <servlet>
        <servlet-name>LoginGoogleHandler</servlet-name>
        <servlet-class>controller.LoginGoogleHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfile</servlet-name>
        <servlet-class>controller.UserProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingList</servlet-name>
        <servlet-class>controller.SettingList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>controller.AddUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>controller.DeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Users</servlet-name>
        <servlet-class>controller.Users</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Account</servlet-name>
        <servlet-class>controller.Account</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Subjects</servlet-name>
        <servlet-class>controller.Subjects</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Quizz</servlet-name>
        <servlet-class>controller.Quizz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Classes</servlet-name>
        <servlet-class>controller.Classes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Lessons</servlet-name>
        <servlet-class>controller.Lessons</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Questions</servlet-name>
        <servlet-class>controller.Questions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyClasses</servlet-name>
        <servlet-class>controller.MyClasses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmittedAssignment</servlet-name>
        <servlet-class>controller.SubmittedAssignments</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginGoogleHandler</servlet-name>
        <url-pattern>/LoginGoogleHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfile</servlet-name>
        <url-pattern>/UserProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingList</servlet-name>
        <url-pattern>/settinglist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/addUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Users</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Account</servlet-name>
        <url-pattern>/Account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Subjects</servlet-name>
        <url-pattern>/subject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Quizz</servlet-name>
        <url-pattern>/Quizz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Classes</servlet-name>
        <url-pattern>/classes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Lessons</servlet-name>
        <url-pattern>/lesson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Questions</servlet-name>
        <url-pattern>/question</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyClasses</servlet-name>
        <url-pattern>/myclasses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmittedAssignment</servlet-name>
        <url-pattern>/submittedaassignment</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            view/authen/login.jsp
        </welcome-file>
    </welcome-file-list>
</web-app>
